h1{
  font-family: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
input{
  width: 70%;
}
.item-all{
  text-align: left;
}
.kg-row{
  margin: 10px 5px;
}
.kg-button{
  min-width: 80px;
}
center{
  padding: 0px 10px 20px 20px;
  background-color: rgb(73, 172, 202);
}
